.button-init{
  display: inline-block;
  padding: 7px 20px;
  border: none;
  border: 1px solid;
  border-radius: 3px;
  outline: none;
  font-size: 13px;
  .openSans;
  .clickable;
}

.button{
  .button-init;
  border-color: #FFF;
  background-color: transparent;
  color: #FFF;

  &:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:disabled, &:disabled:hover{
    border-color: #E5E5E5;
    background-color: transparent;
    color: #E5E5E5;
    cursor: inherit;
  }
}

.button-red{
  .button-init;
  border-color: @red;
  color: @red;

  &:hover{
    background-color: @red;
    color: #FFF;
  }
}

.button-green{
  .button-init;
  border-color: @green;
  color: @green;

  &:hover{
    background-color: @green;
    color: #FFF;
  }
}

.button-grey{
  .button-init;
  border-color: @grey;
  color: @grey;

  &:hover{
    background-color: @grey;
    color: #FFF;
  }
}

.button-blue{
  .button-init;
  border-color: @color_5;
  color: @color_5;

  &:hover{
    background-color: @color_5;
    color: #FFF;
  }
}
