.Intranet_page{

  .Intranet_page_header{
    padding: 10px 20px;

    .Intranet_page_title{
      margin: 0px;
    }
  }
}

.Intranet_page_CRA, .Intranet_page_Conges, .Intranet_page_CV{
  padding: 10px 30px 30px 30px;

  .Intranet_page_header{
    margin-bottom: 10px;

    .Intranet_page_title{
      margin-bottom: 10px;
    }

    .button-green{
      text-decoration: none;
    }
  }

  .table-sorted{
    width: 100%;
  }

  .fa-spinner{
    color: @color_1;
  }

  .fa-check{
    color: @green;
  }

  .fa-times{
    color: @red;
  }

  .error-message, .warning-message{
    margin: 10px 0px;
  }

  .quill{
    border: 1px solid #E5E5E5;
  }

  .quill-label-wrapper{
    margin-bottom: 10px;
  }

  .quill-label{
    font-size: 13px;
  }

  .input-text{
    width: 100%;
    .boxSizing;
  }

  .CRA_section, .Conges_section{
    margin-bottom: 20px;
    padding: 10px 20px 20px 20px;
    border: 1px solid @color_5;
    border-left: 10px solid @color_5;
  }
}

