.Intranet_messages_page{
  background-color: lighten(@messages-color, 35%);
  position: relative;

  .Messages_pagination{
    padding-bottom: 0px;
    text-align: right;

    .Page{
      background-color: @messages-color;
      color: #FFF;
      margin: 0px 0px 0px 10px;
      .clickable;

      &:hover, &.Current_page{
        background-color: darken(@messages-color, 20%);
      }
    }
  }

  .Messages_topbar{

    .label-and-input{
      margin-right: 20px;

      .label{
        display: block;
      }

      .button{
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .Intranet_messages_body{
    display: table;
    position: relative;

    .Message_bullet_line{
      position: absolute;
      width: 1px;
      background-color: #FFF;
      left: 20.4px;
      top: 26px;
      z-index: 1;
    }

    .Messages, .Message_preview{
      display: table-cell;
      vertical-align: top;
    }

    .Messages{
      list-style: none;
      padding: 0px;
      margin: 0px;
      width: 25%;
      background-color: @messages-color;

      .Message_item{
        padding: 15px 20px 15px 10px;
        height: 170px;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid darken(@messages-color, 10%);
        .boxSizing;

        &.Message_item_current{
          background-color: darken(@messages-color, 10%);

          .Message_bullet:after{
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            border: 2px solid #FFF;
            border-radius: 50%;
            top: -3px;
            right: -3px;
          }
        }

        .Message_triangle{
          position: absolute;
          right: 0px;
          top: 75px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 10px 0px;
          border-color: transparent lighten(@messages-color, 30%) transparent transparent;
        }

        .Message_bullet, .Message{
          display: inline-block;
          vertical-align: top;
        }

        .Message_bullet{
          width: 10px;
          height: 10px;
          background-color: #FFF;
          border-radius: 50%;
          margin: 5px 10px 0px 5px;
          position: relative;
        }

        .Message{
          width: calc(100% - 25px);
          position: relative;

          .checkbox{
            position: absolute;
            top: 0px;
            right: 0px;
          }

          .Message_date{
            font-size: 11px;
            text-transform: uppercase;
            color: #FFF;
            .openSansBold;
          }

          .Message_title{
            margin-top: 5px;
          }

          .Message_author{
            font-size: 13px;
            color: #FFF;
          }


          .Message_description{
            margin-top: 10px;
            font-size: 13px;
            max-height: 61px;
            overflow-y: scroll;
          }
        }
      }
    }

    .Message_preview{
      background-color: lighten(@messages-color, 30%);
      width: 75%;
      padding: 30px;
      .boxSizing;

      .Message_preview_item{
        background-color: #FFF;
        padding: 20px;
      }

      .Message_preview_header{
        display: table;
        border-bottom: 3px solid @messages-color;
        padding-bottom: 20px;
        width: 100%;

        .Message_author, .Message_header{
          display: inline-block;
          vertical-align: middle;
          .boxSizing;
        }

        .Message_author{
          width: 30%;
          text-align: center;

          .Message_author_picture{
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 3px solid @messages-color;
            padding-top: 5px;
            font-size: 50px;
          }

          .Message_author_name{
            font-size: 15px;
          }

          .Message_author_post{
            font-size: 13px;
          }
        }

        .Message_header{
          width: 70%;
          padding: 0px 30px 10px 30px;

          .Message_title{
            font-size: 30px;
          }


          .Message_description{

          }

          .Message_date{
            margin-top: 20px;
            font-size: 13px;
          }
        }
      }

      .Message_preview_body{
        padding: 20px;
      }
    }
  }

  .Modal_message_compose{
    height: 80%;
    text-align: right;
  }

  .Message_compose{
    height: 100%;

    .Pre_input{
      border-bottom: 1px solid #E5E5E5;
      height: 40px;
      text-align: left;
      .openSans;

      .Label, .input-text{
        display: inline-block;
        vertical-align: top;
        height: 100%;
        .boxSizing;
      }

      .Label{
        width: calc(20% - 1px);
        padding-top: 12px;
        text-align: center;
        background-color: rgba(0,0,0,0.1);
        border-right: 6px solid rgba(0,0,0,0.2);
      }

      .input-text{
        width: 80%;
        border: none;
        font-size: 13px;
      }
    }

    .Message_compose_footer{
      padding: 22px;

      .error-message{
        display: inline-block;
        margin-right: 10px;
      }
    }

    .quill{
      height: calc(100% - 160px);

      .quill-toolbar{
        border-bottom: 1px solid #E5E5E5;
      }

      .quill-toolbar, .ql-picker-label, .ql-size.ql-picker, .ql-align.ql-picker,
      .ql-color.ql-picker.ql-color-picker, .ql-background.ql-picker.ql-color-picker{
        background-color: #E1E1E1 !important;
      }

      .ql-snow.ql-toolbar .ql-picker.ql-expanded .ql-picker-label{
        color: #FFF;
      }

      .quill-contents.ql-container.ql-snow{
        height: calc(100% - 42px);
        text-align: left;
      }
    }
  }
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  height: 100%;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}

