.Intranet_news_page{
  background-color: lighten(#e8b935, 35%);

  .News_topbar{

    .label-and-input{
      margin-right: 20px;

      .label{
        display: block;
      }

      .button{
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .Intranet_news_body{
    display: table;
    position: relative;

    .New_bullet_line{
      position: absolute;
      width: 1px;
      background-color: #FFF;
      left: 20.4px;
      top: 26px;
      z-index: 1;
    }

    .News, .New_preview{
      display: table-cell;
      vertical-align: top;
    }

    .News{
      list-style: none;
      padding: 0px;
      margin: 0px;
      width: 25%;
      background-color: #e8b935;

      .New_item{
        padding: 15px 20px 15px 10px;
        height: 170px;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid darken(#e8b935, 10%);
        .boxSizing;

        &.New_item_current{
          background-color: darken(#e8b935, 10%);

          .New_bullet:after{
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            border: 2px solid #FFF;
            border-radius: 50%;
            top: -3px;
            right: -3px;
          }
        }

        .New_triangle{
          position: absolute; 
          right: 0px;
          top: 75px; 
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 10px 0px;
          border-color: transparent lighten(#e8b935, 30%) transparent transparent;
        }

        .New_bullet, .New{
          display: inline-block;
          vertical-align: top;
        }

        .New_bullet{
          width: 10px;
          height: 10px;
          background-color: #FFF;
          border-radius: 50%;
          margin: 5px 10px 0px 5px;
          position: relative;
        }

        .New{
          width: calc(100% - 25px);
          position: relative;

          .checkbox{
            position: absolute;
            top: 0px;
            right: 0px;
          }

          .New_date{
            font-size: 11px;
            text-transform: uppercase;
            color: #FFF;
            .openSansBold;
          }

          .New_title{
            margin-top: 10px;
          }

          .New_description{
            margin-top: 10px;
            font-size: 13px;
            max-height: 61px;
            overflow-y: scroll;
          }
        }
      }
    }

    .New_preview{
      background-color: lighten(#e8b935, 30%);
      width: 75%;
      padding: 30px;
      .boxSizing;

      .New_preview_header{
        display: table;
        border-bottom: 3px solid #e8b935;

        .New_author, .New_header{
          display: table-cell;
          vertical-align: top;
          .boxSizing;
        }

        .New_author{
          width: 20%;
          text-align: center;

          .New_author_picture{
            margin: 0px auto 5px auto;
            width: 70px;
            height: 70px;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: 3px solid #e8b935;
            background-size: cover;
          }

          .New_author_name{
            font-size: 26px;
          }

          .New_author_post{
            font-size: 13px;
          }
        }

        .New_header{
          width: 80%;
          padding: 0px 30px 30px 30px;

          .New_title{
            font-size: 30px;
            margin-bottom: 20px;
          }

          .New_description{

          }

          .New_date{
            margin-top: 20px;
            font-size: 13px;
          }
        }
      }

      .New_preview_body{
        padding: 20px;
      }
    }
  }
}